@using AnimalHotel.Models
<html>
    <head>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <link href="~/css/style_navigation.css" rel="stylesheet" type="text/css">
          <link href="~/css/style_form.css" rel="stylesheet" type="text/css">
          <link href="~/css/site.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <header>
    <div class="nav">
        <ul class="main_nav">
            <li class="active"><a href="/Owner/Branch">Відділення</a></li>
            <li> <a href="/Owner/Staff">Співробітники</a></li>
            <li>  <a href="/Owner/ControlType">Управління Типами</a></li>
            <li>  <a href="/Owner/Room">Кімнати</a></li>
            <li> <a href="/Owner/Report">Звіти</a></li>
            <li> <a href="/Owner/Out">Выйти</a></li>
        </ul>
    </div>
    </header>


    <div>

        <div class="all_form">
            <h2>Форма добавления отделения</h2>
        <form action="/Owner/AddBranch">
            <ul>
                <li>
                    <label>Город</label>
                </li>
                <li>
                    <input type="text" name="city" />
                </li>
                <li>
                    <label>Улица</label>
                </li>
                <li>
                    <input type="text" name="street" />
                </li>
                <li>
                    <label>Номер дома</label>
                </li>
                <li>
                    <input type="number" name="number_house" />
                </li>
                <li>
                    <label>Телефон</label>
                </li>
                <li>
                    <input type="tel" name="tel" />
                </li>
            </ul>
            <input type="submit" value="Добавить отделение" />
        </form>
        </div>

        <div class=all_form>

       
         <h2>Віділення</h2>
        @foreach(BranchModel branch in ViewBag.Branches)
            {
    <div class="types" id="branch_style">
       
        @if (branch.status)
        {
            <p>@branch.city @branch.street</p>
            <a class="open_close1" href="/Owner/CloseBranch/@branch.id">закрыть</a>
        }
        else
        {
            <p>@branch.city @branch.street</p>
            <a class="open_close1" href="/Owner/OpenBranch/@branch.id">открыть</a>
        }
    </div>
            }

             </div>
    </div>
</body>
</html>