<html>
<body>
    <header>
        <a href="/Admin/Staff">Сотрудники</a>
        <a href="/Admin/Room">Комнаты</a>
        <a href="/Admin/Report">Отчеты</a>
        <a href="/Admin/Service">Услуги</a>
    </header>
</body>
</html>