@using AnimalHotel.Models;
<html>
    <head>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <link href="~/css/style_navigation.css" rel="stylesheet" type="text/css">
           <link href="~/css/style_form.css" rel="stylesheet" type="text/css">
             <link href="~/css/site.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <header>
    <div class="nav">
        <ul class="main_nav">
            <li> <a href="/Admin/Staff">Співробітники</a></li>
            <li>  <a href="/Admin/Room">Кімнати</a></li>
            <li class="active"> <a href="/Admin/Report">Звіти</a></li>
            <li> <a href="/Admin/Service">Послуги</a></li>
            <li> <a href="/Admin/Out">Выйти</a></li>
        </ul>
    </div>
    </header>
     <div class="all_form">
     <div class="reports">
        <p>Всего зарабтано: @ViewBag.TotalPrice</p> 
        <p>Всего заказов: @ViewBag.TotalCountOrder</p> 
        <p>Всего животных: @ViewBag.TotalCountAnimal</p> 
        <p>Всего заказано услуг: @ViewBag.TotalCountService</p> 
    </div>
    </div>
</body>
</html>