<html>
    <body>
        <form action="/Login/Login">
            <ul>
                <li>
                    <label>Логин</label>
                </li>
                <li>
                    <input type="text" name="login" />
                </li>
                <li>
                    <label>Пароль</label>
                </li>
                <li>
                    <input type="text" name="password" />
                </li>
            </ul>
            <button type="submit">Вход</button>
        </form>
    </body>
</html>