@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.main_order{
    margin: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
    font-family: 'Oswald', sans-serif;

}

.return_pet{

}

.staff_btn {
    width: 100%;
    background-color: #080706;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight:500;
}

h3{
    text-align:center;
}

.pet_info {
   
}

    .pet_info li {
        display: inline-block;
    }

.staff_btn:hover {
    background-color: red;
}


.orders_cl {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    margin: 20px;
    background: #080706;
    color: #EFEFEF;
    transition-duration: 0.5s;
    padding: 10px;
    border-radius: 5px;
}

    .orders_cl a {
        text-decoration: none;
        color: #D1B280;
    }

    .orders_cl:hover {
        background: #2b5ce3;
    }